.store {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 3rem;
  margin: 4rem 0;
}

.product__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

@media only screen and (max-width: 768px) {
  .store {
    display: flex;
    flex-direction: column-reverse;
  }

  .product__container {
    display: flex;
    flex-direction: column;
  }
}
