.cart {
  height: 35rem;
  background-color: var(--theme-color);
  color: white;
  position: sticky;
  top : 5rem;
  padding: 1rem;
  border-radius: .5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}


.cart .cart__title {
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem 0;
  border-bottom: 2px solid white;
}

.random__product {
  background-color: #2a2e38;
  text-align: center;
}

.random__product img{
  width: 100%;
  background-color: #2a2e38;
}

.random__product .price {
  font-size: 1.5rem;
}

.cart__btn {
  margin: 1rem auto 0;
  display: block;
  padding: .5rem 1.25rem;
  width: 75%;
  cursor: pointer;
  border-radius: .3rem;
  border: none;
  background-color: rgb(219, 219, 219);
  transition: .2s ease;
  color: var(--theme-color);
}

.cart__btn:hover {
  background-color: #5c657c;
  color: white;
}

@media only screen and (max-width: 768px) {
  .cart {
    position: initial;
    margin-bottom: 1rem;
  }
}