.cart {
  height: 35rem;
  background-color: var(--theme-color);
  color: white;
  margin-top: 4rem;
  position: sticky;
  top : 5rem;
  padding: 1rem;
  border-radius: .5rem;
}

.cart .cart__title {
  text-align: center;
  font-size: 1.5rem;
  margin: 2rem 0;
  border-bottom: 2px solid white;
}