.cart {
  height: 35rem;
  background-color: var(--theme-color);
  color: white;
  margin-top: 4rem;
  position: sticky;
  top : 0;
  padding: 1rem;
  border-radius: .5rem;
}

.cart .cart__title {
  text-align: center;
}