.product {
  border: 4px solid rgb(226, 226, 226);
  border-radius: 0.5rem;
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 4rem;
}
.upper, .lower {
  padding: .3rem;
}

.upper .thumbnail {
  background-color: rgb(240, 240, 240);
  border-radius: .5rem;
}
.upper .thumbnail img {
  width: 100%;
  display: block;
}
.upper__info,
.lower__info {
  padding: 0 1rem;
}
.upper__info .name {
  font-size: 1.25rem;
}
.upper__info .price {
  font-size: 2rem;
}
.lower {
  display: flex;
  flex-direction: column;
}

.add__btn {
  border: none;
  padding: 1rem 1.25rem;
  cursor: pointer;
  transition: .3s ease;
}

.add__btn:hover {
  background-color: var(--theme-color);
  color: white;
}